* {
  margin: 0;
  padding: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #121214;
}

main {
  background: url(../images/bg-main.svg) no-repeat center/cover;
  max-width: 1440px;
  height: 100%;
  min-height: 820px;
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.container {
  width: 22.375rem;
  height: 33.75rem;
  background: url(../images/bg-cracha.svg);
  position: relative;
  color: var(--grey);
  top: -60px;
  text-align: center;
}
.fita {
  width: 80px;
  height: 164px;
  position: absolute;
  top: -140px;
  left: 135px;
  text-align: center;
}
.avatar {
  width: 10rem; /*1rem é equivalente a 16px*/
  margin: 4.5rem auto 0;
  position: relative;
}
.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: lightgray;
  text-decoration: none;
  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  padding: 0 10px 0 10px;
}

ul {
  margin-top: 2rem;
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;
  justify-content: center;
}
